html, body {
    margin: 0;
    padding: 10px;
    background-color: black;
}
canvas {
    display: block;
}
  
button {
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}